
@keyframes fadeOut {
    from {
      opacity: 1; 
    }
    to {
      opacity: 0; 
    }
  }
  
 
  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  
  .fadeOut {
    animation: fadeOut 1s, blink 2s infinite; 
    color: red;
  }
  